---
import RootLayout from "~/layouts/RootLayout.astro";
---

<RootLayout>
  <Fragment slot="head">
    <title>not-found</title>
    <meta name="description" content="not-found" />
  </Fragment>

  <Fragment slot="body">
    <main class="flex items-center justify-center w-dvw h-dvh overflow-hidden">
      <h1 class="font-mono font-bold text-xl">404 | not found</h1>
    </main>
  </Fragment>
</RootLayout>
