---
import RootLayout from "~/layouts/RootLayout.astro";
---

<RootLayout>
  <Fragment slot="head">
    <title>opendev-web-astro</title>
    <meta name="description" content="opendev-web-astro" />
  </Fragment>

  <Fragment slot="body">
    <main class="flex items-center justify-center w-dvw h-dvh overflow-hidden">
      <h1 class="font-mono font-bold text-xl">opendev</h1>
    </main>
  </Fragment>
</RootLayout>
